* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.login-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-wrapper {
  padding: 70px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.l-heading {
  font-size: 40px;
  font-weight: 800;
  color: #3e52b2;
}

.l-ph {
  margin: 0px;
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 700;
  color: #3b3838;
}

.l-label {
  font-size: 14px;
  font-weight: 700;
  color: gray;
  padding-bottom: 8px;
}

.btn1 {
  width: 100%;
  justify-content: center;
  background: #3e52b2;
  display: flex;
  font-weight: 700;
  line-height: 1.5;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 8px 8px;
  font-size: 1rem;
  border-radius: 5px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.l-reg {
  color: #3e52b2;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
}

.l-reg:hover {
  color: #33459f;
}

.l-account {
  font-size: 16px;
  font-weight: 600;
  color: darkgray;
}

a {
  text-decoration: none;
}

.f-25 {
  font-size: 25px;
}

.add {
  padding: 0px 15px;
  background: #303f9f;
  color: white;
  border: none;
}

.minus {
  padding: 0px 15px;
  background: #e0e0e0;
  color: #acacac;
  border: none;
}

.card-body {
  padding: 9px 9px;
  box-shadow: 0px 0px 20px gainsboro;
}

.card-img-top {
  height: 195px;
}





@media only screen and (max-width: 768px) {
  
  .login-wrapper {
    padding: 40px;
  }

  .l-heading {
    font-size: 30px;
  }
}